/**
 * Site header
 */
.site-header {
    max-height: 56px;

    .logo {
        display: inline-block;

        img {
            max-height: 56px;
            padding: 5px;
            box-sizing: border-box;
        }
    }

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        box-sizing: content-box;
        display: none;
    }

    .page-link {
        color: $nav-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            text-decoration: none;
            color: $nav-hover-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.section {
    padding: 60px 0;
}

.billboard {
    .image {
        box-sizing: border-box;
        width: 50%;
        padding: 2%;
        float: left;
    }

    .content {
        float: left;
        width: 50%;

        .title, .description {
            color: #fff;
            font-family: 'Roboto', $base-font-family;
        }

        .title {
            font-size: 2.7em;
            margin-bottom: .9em;
        }

        .description {
            font-size: 1.4em;
        }

        @include media-query($on-laptop) {
            .title {
                font-size: 2em;
            }
            .description {
                font-size: 1.2em;
            }
        }

        @include media-query($on-palm) {
            .title {
                font-size: 1.5em;
            }
            .description {
                font-size: 1em;
            }
        }
    }
}

.items {
    clear: both;
    margin-top: -30px;

    .item {
        margin-top: 30px;
        width: 33.33%;
        box-sizing: border-box;
        padding: 0 2%;
        float: left;
        text-align: center;

        &:nth-child(3n+1) {
            clear: left;
        }

        .title {
            text-align: center;
            font-size: 1.6em;
            font-family: 'Roboto', $base-font-family;
        }

        .description {
            font-size: 1.1em;
        }

        img {
            width: 50%;
        }
    }

    @include media-query($on-laptop) {
        .item {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }

            &:nth-child(3n+1) {
                clear: none;
            }

            &:not(:last-child) {
                margin-bottom: 5em;
            }
        }
    }

    @include media-query($on-palm) {
        .item {
            width: 100%;
            float: none;

            img {
                width: 40%;
            }

            .title {
                font-size: 1.8em;
            }
            .description {
                font-size: 1.3em;
            }

            &:not(:last-child) {
                margin-bottom: 5em;
            }
        }
    }

    @extend %clearfix;
}
#development {
    background-color: #1E8BC3;
}

#seo {
    background-color: #59ABE3;
}

#get-started {
    text-align: center;
    background-color: #5C97BF;
    padding: 8em 0;

    h1 {
        font-size: 2.6em;
        color: #fff;
        margin-bottom: 2em;
    }

    .button {
        font-size: 1.3em;
    }
}

#contact {
    .wrapper {
        width: 600px;
    }

    textarea {
        max-width: 100%;
        min-height: 125px;
    }

    @include media-query($on-palm) {
        .wrapper {
            width: auto;
        }
    }
}

.button {
    background-color:#2ECC71;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff !important;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;

    &:hover {
        background-color:#3FC380;
        text-decoration: none;
    }

    &:active {
        position:relative;
        top:1px;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
